
    <div class="col-8 overflow-auto p-0">
      <main class="position-absolute w-100 p-5">
        <h1>New App</h1>

        <%= render 'form', app: @app %>

      </main>
    </div>
    <div class="col-4 overflow-auto p-0">
      <aside class="position-absolute w-100 p-5">
      </aside>
    </div>




